body {
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
}

#input-container {
    width: 30%;
    padding: 20px;
    border-right: 1px solid #ccc;
}
#image-container{
    width: 70%;
}

#poolingCanvas {}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input[type="number"],
.input-group select,
.input-group textarea{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#generate-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
.color-preview {
    width: 20px;
    height: 20px;
    border: 1px solid black;

}

.number-input-group {
    display: flex;
    align-items: center;
}

.number-input-group button {
    background-color: #eee;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 5px 10px;
}

.number-input-group input[type="number"] {
    width: auto;
    margin: 0 5px;
    text-align: center;
}

.color-input-group {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    align-items: center;
    cursor: grab;  /* Change cursor to indicate draggable */
}
/*Style when dragging*/
.color-input-group.dragging {
    opacity: 0.5;  /* Reduce opacity while dragging */
    border: 2px dashed #ccc; /* Add a dashed border*/
}

.color-input-group input {
    padding: 5px;
    border: 1px solid #ccc;
}
.color-name-input{
  width: 60%;
}
.stitch-count-input{
  width: 20%;
}
.color-input-group .color-preview {
    width: 20px;
    height: 20px;
    border: 1px solid black;
}